<h1>All the Shops</h1>
<%= form_tag('/shops',:method=>:get) do %>                          
<%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name", params[:category_id]), include_blank: 'Select One' %>    
<%= submit_tag %>
<% end %>

<% @shops.each do |r| %>

  <h2><%= link_to r.name, shop_path(r.id)%> - <%= r.category.name %> - <%= r.price_range %> </h2>
  <%= link_to "Write a review", new_shop_review_path(r.id) %> 
  <p><%= r.address %></p>
  <% end %>